* {
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --subcat_color: #325D85;
    --sidebar_color: #183653;
    --cat_color: #1b4161;
    --product_color: #6A95BD;
    --button_color: #5DBFF5;
    --focus_txt_color: #1DA5DF;
    --txt_white: #FFFF;
    --txt_black: #000000;
    --roboto: 'Roboto', sans-serif
}


/*BASIC*/
.container {
    display: flex;
}

.sidebar {
    flex: 1 1 20%;
}

.content {
    flex: 1 1 80%;
}


/*CONTENT*/


/*Header*/

.header {
    height: 40px;
    background-color: var(--subcat_color);
}

.header_menu {
    display: flex;
    margin-top: 5px;
    margin-right: 60px;
    float: right;
}

.header_menu_item {
    margin-right: 40px;
}

.header_link {
    font-size: 16px;
    line-height: 28px;
    color: var(--txt_white);

}

.header_link:hover,
.header_link:focus,
.header_link:active {
    color: var(--focus_txt_color);
}

.heading_block {
    margin-top: -32px;
    height: 110px;
    box-shadow:  2px 3px 10px -3px rgba(0,0,0,.8);
}

.main_heading {
    padding-top: 10px;
    margin-left: 30px;
    font-size: 44px;
    font-family: var(--roboto);
    font-weight: bold;
    color: #27376D;
    cursor: pointer;
}

.heading_block_menu {
    margin-left: 30px;
    margin-top: -20px;
    display: flex;
}

.heading_block_btn {
    cursor: pointer;
    font-family: var(--roboto);
    color: #27376D;
}

.heading_block_btn:after {
    display: block;
    margin-top: 9px;
    left: 0;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--focus_txt_color);
    content: "";
}

.heading_block_btn:hover:after {
    width: 100%;
}

.heading_block_btn:hover,
.heading_block:focus,
.heading_block_btn:active {
    color: var(--focus_txt_color);
}

.heading_block_btn:not(:first-child) {
    margin-left: 25px;
}


/*SIDEBAR*/

.sidebar {
    background-color: var(--sidebar_color);
    margin-left: 0;
    margin-right: 0;
}

.sidebar_heading_inner {
    width: 92%;
    margin-left: 20px;
}

.logo {
    margin-top: 10px;
    font-size: 28px;
    color: var(--txt_white);
}

/*Categories*/

.categories_inner {
    background-color: var(--cat_color) ;
}

.categories {
    margin-top: 4px;
}

.category_item {
    margin-left: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*font-family: var(--roboto);*/
    font-size: 20px;
    color: var(--txt_white);
    cursor: pointer;
}

.category_item:hover,
.category_item:focus,
.category_item:active {
    color: var(--focus_txt_color);
}

/*Button*/
.btn {
    background-color: var(--focus_txt_color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: var(--txt_white);
    font-size: 12px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--txt_white);
    color: var(--focus_txt_color);
}

.add_category_btn {
    margin-top: -4px;
    height: 25px;
    width: 100px;
    padding: 6.5px 14px;
}


